/*
  Home Page related CSS
*/
.html {
  background-color: #E5E5E5;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em;
}

.page-header {
  text-align: center;
}

.list {
  width: 80%;
}

.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  width: 85%;
  height: 2em;
  margin-bottom: 1em;
}

.search-button {
  width: auto;
  color: black;
}

.card-container {
  width: 100%;
  min-height: 300px;
  height: auto;
  background-color: grey;
}

h2 {
  font-size: xx-large;
}


/*
  County Details Page related CSS
*/

.more-info {
  display: flex;
  justify-content: center;
}

.county-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 3em;
  border: 10px solid black;
}

.county-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #0E1B5B;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  color: white;
}

.back {
  padding-left: 1em;
  font-size: 1.5em;
  color: white;
}

.favorite {
  padding-right: 1em;
}

.county-body {
  background-color: #F9F9F9;
  width: 100%;
  height: 817px;
  font-size: x-large;
}

.county-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.county-stats {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 3em;
  margin-top: 3em;
}

.empty-header {
  text-align: center;
  font-size: x-large;
  margin: 2em;
}


/*
  Navigation Bar related CSS
*/
.nav-bar {
  height: 7rem;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  background-color: #0A7FEB;
  color: white;
  height: 100%;
}

.tool-link {
  color: white;
  font-size: 1.3rem;
}
