@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');

/*
  Home Page related CSS
*/

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em;
  font-family: 'Encode Sans', sans-serif;
}

.baseCheck {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.baseCheck:hover, .baseCheck:focus, .baseCheck:active {
  color: white;
  text-decoration: underline;
}

.page-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 80%;
}

.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  width: 85%;
  height: 2em;
  margin-bottom: 1em;
}

.search-button {
  padding-top: 1em;
  width: auto;
  font-size: 1.5em;
  color: black;
}

h2 {
  font-size: xx-large;
  font-family: 'Encode Sans', sans-serif;
  font-weight: bold;
}

/*
  US Dashboard Component related CSS
*/

.us-page {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  flex-direction: column;
  width: 800px;
  border: 0.5px solid black;
  padding-left: 10px;
}

.us-stats {
  display: flex;
  justify-content: center;
}

* { box-sizing: border-box; } /* recommended for item sizing */

.us-individual {
  background-color: rgba(41,51,92,0.14);
  text-align: center;
  flex-grow: 1; /* get 1 share of extra space */
  flex-shrink: 0; /* do not shrink if items overflow container */
  flex-basis: 25%; /* take up 33% of parent initially */
  font-weight: bold;
  margin: 10px;
  letter-spacing: 2px;
}

.us-cases {
  color: red;
  font-weight: bold;
}

.us-update {
  text-align: right;
  padding-right: 10px;
}
/*
  County Details Page related CSS
*/

.more-info {
  display: flex;
  justify-content: center;
}

.county-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 3em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 3em;
  padding-bottom: 50px;
}

.county-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  color: white;
}

.county-High {
  background-color: #DC3220;
  color: white;
}

.county-Medium {
  background-color: #E66100;
  color: black;
  opacity: 0.9;
}

.county-Low {
  background-color: #FFC20A;
  color: black;
  opacity: 0.8;
}

.county-NA {
  background-color: darkgrey;
  color: black;
}

.back {
  padding-left: 2em;
  color: white;
}

.back:hover {
  color: #29335C;
}

.favorite {
  padding-right: 2em;
}

.county-body {
  background-color: white;
  width: 100%;
  height: auto;
  font-size: x-large;
}

.county-main {
  display: flex;
  justify-content: space-between;
  padding: 4em;
}

.county-stats {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 50%;
  margin-left: 2em;
  font-size: 1.1em;
}

.county-visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

@media (max-width: 1100px) {
  .county-main {
    padding: 2em;
  }

  .county-stats {
    font-size: 0.8em;
    margin-left: 0em;
  }

  .county-visual {
    align-items: end;
  }
}

@media (max-width: 700px) {
  .county-main {
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .county-stats {
    font-size: 1em;
    margin-left: none;
  }

  .county-visual {
    display: none;
  }
}

.empty-header {
  text-align: center;
  font-size: x-large;
  margin: 2em;
}

.county-error {
  font-size: 1em;
  color: red;
}


/*
  Navigation Bar related CSS
*/
.nav-bar {
  height: 7rem;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  background-color: #29335C;
  color: white;
  height: 100%;
}

.tool-link {
  color: white;
  font-size: 1.3rem;
}

/*
  Loading
*/
.loading {
  display: flex;
  justify-content: center;
  margin-top: 10em;
}


/*
  Card Container
*/
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

/*
  Card
*/
.card {
  background-color: white;
  width: 300px;
  height: 300px;
  border: 1px solid grey;
  margin: 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.test {
  padding-left: 280px;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card:focus, .card:active, .card:hover {
  box-shadow: none;
}

.card-option {
  display: flex;
  justify-content: flex-end;
  height: 15%;
}

.card-body {
  height: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
}

.card-footer {
  height: 30%;
  display: flex;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card-name {
  font-size: 20px;
}

.card-time {
  font-size: 12px;
}


/*
* Autocomplete Styling
*/
input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

/*
* Buttons
*/

.save-button {
  width: auto;
  height: auto;
  background-color: inherit;
  border: none;
}

.detail-button {
  font-size: 50px;
}

.save-button:hover {
  cursor: pointer;
}

.saved {
  color: #29335C;
}

.unsaved {
  color: white;
}

.card-button {
  font-size: 33px;
}

.unsaved:hover {
  color: #29335C;
}

.modal-button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: inherit;
  border: none;
}