/*
  Home Page related CSS
*/

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em;
}

.page-header {
  text-align: center;
}


/*
  County Details Page related CSS
*/
.county-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.county-header {
  text-align: center;
}

/*
  Navigation Bar related CSS
*/
.nav-bar {
  height: 7rem;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  background-color: #0A7FEB;
  color: white;
  height: 100%;
}

.tool-link {
  color: white;
  font-size: 1.3rem;
}
